[Unit]
Description=RealtimeSTT Docker Compose Service
Requires=docker.service
After=docker.service

[Service]
Type=simple
WorkingDirectory=/home/nvidia/marss25/RealtimeSTT
ExecStart=/usr/bin/docker compose -f docker-compose.yml up
Restart=on-failure
RestartSec=5s
TimeoutStartSec=600

[Install]
WantedBy=multi-user.target


